* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
}

input {
    padding: 0;
    margin: 0;
    border: 2px solid sandybrown;
    height: 30px;
    border-radius: 25px;
    width: 500px;
}

svg {
    height: 60px;
    width: auto;
    fill: #fcedd3;
}

#sidebar-second-row > div > svg, #sidebar-third-row > div > svg, #search > svg {
    height: 30px;
    width: auto;
    fill: #fcedd3;
}

.text {
    font-weight: bold;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 200px 1fr;
}

#sidebar {
    display: grid;
    grid-template-rows: 100px 1fr 210px;
    grid-column: 1 / 2;
    grid-row: span 2;
    background-color: #00385a;
    color: #fcedd3;
    gap: 25px;
}

#sidebar-first-row {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding-left: 10px;
}

#sidebar-second-row, #sidebar-third-row {
    display: grid;
}

#sidebar-second-row > *, #sidebar-third-row > * {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    cursor: pointer;
}

#header {
    grid-column: 2 / 4;
    padding: 25px 50px 25px 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#search {
    display: grid;
    grid-template-columns: 30px 250px;
    gap: 30px;
    align-items: center;
}

#header-first-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}